@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov.min.css');

:root {
  /* Primary Colors */
  --main-red-0: #ffffff;
  --main-red-50: #ffedea;
  --main-red-100: #fcdcd7;
  --main-red-200: #fab9b1;
  --main-red-300: #f69888;
  --main-red-400: #f47460;
  --main-red-500: #f15139;
  --main-red-600: #c2412e;
  --main-red-700: #913121;
  --main-red-800: #612017;
  --main-red-900: #30100a;

  /* Second Colors */
  --second-yellow: #ffd223;
  --second-sky: #8ccaff;
  --second-green: #73e390;
  --second-pink: #ff91b9;
  --second-purple: #c7a5ff;

  /* greyscale */
  --grey-0: #ffffff;
  --grey-50: #fafafa;
  --grey-100: #f2f2f2;
  --grey-200: #e6e6e6;
  --grey-300: #d4d4d4;
  --grey-400: #b3b3b3;
  --grey-500: #949494;
  --grey-600: #757575;
  --grey-700: #525252;
  --grey-800: #333333;
  --grey-900: #171717;

  /* Status Colors */
  --success: #56bc44;
  --danger: #e43333;
  --warning: #f1b419;
  --info: #129eed;

  /* Background Colors */
  --bg-default: #f7f5f1;
  --bg-surface: #ffffff;

  /* font-family 가변 weight  */
  font-family: 'Pretendard GOV Variable';
}
