:root {
  /* Primary Colors */
  --primary-50: #f8f6fe;
  --primary-100: #efeafd;
  --primary-200: #dcd0fb;
  --primary-300: #cab9f8;
  --primary-400: #b8a2f6;
  --primary-500: #a386f4;
  --primary-600: #7d55ef;
  --primary-700: #643ad9;
  --primary-800: #4b24b7;
  --primary-900: #361c7d;

  /* Gray Colors */
  --gray-0: #ffffff;
  --gray-50: #f8f8fb;
  --gray-100: #f4f2f5;
  --gray-150: #eceaef;
  --gray-200: #e3e1e8;
  --gray-300: #d5d3db;
  --gray-400: #d5d3db;
  --gray-500: #adaab5;
  --gray-600: #918d9c;
  --gray-700: #74707f;
  --gray-800: #57535f;
  --gray-900: #3a3741;
  --gray-1000: #232128;

  /* Secondary Colors */
  --secondary-100: #ecff0d;
  --secondary-200: #e0f308;

  /* Status Colors */
  --status-success: #6bbb5d;
  --status-error: #e73324;
  --status-notify: #f1b419;
  --status-info: #36aaeb;

  /* Accent Colors */
  --accent-red-text: #e73324;
  --accent-red-container: #fdf3f2;
  --accent-orange-text: #fb9907;
  --accent-orange-container: #fff7e2;
  --accent-green-text: #6bbb5d;
  --accent-green-container: #effced;
  --accent-blue-text: #36aaeb;
  --accent-blue-container: #f0f8fd;
}
