@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #F7F5F1;
}

*::-webkit-scrollbar {
    display: none;
}

/* photo carousel */
.swiper-button-next {
    display: none;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    display: none;
}

.swiper-button-prev::after {
    display: none;
}

.swiper-pagination-bullet {
    background: #e5e5e5 !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    background-color: #e5e5e5 !important;
    opacity: 1 !important;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
}


/* Newake */
@font-face {
    font-family: 'Newake';
    src: url('../public/font/Newake-Font.otf') format('opentype');
    font-weight: 400;
}

/* Pretendard */
@font-face {
    font-family: 'Pretendard';
    src: url('../public/font/Pretendard-Regular.woff') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../public/font/Pretendard-Medium.woff') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../public/font/Pretendard-SemiBold.woff') format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../public/font/Pretendard-Bold.woff') format('opentype');
    font-weight: 700;
}

.error-box {
    @apply text-[13px] text-center -tracking-[0.25px] leading-[19.5px] text-errorRed py-2 bg-[#E433330D] rounded-md
}


.auth-button {
    @apply rounded-[999px] px-4 py-[5.5px] font-medium text-sm font-pretendard text-white whitespace-nowrap ml-2 bg-red05 disabled:bg-gray03
}

@layer components {
    .function-button__with-divider {
        display: flex;
        align-items: center;
    }

    .function-button__with-divider > li {
        padding: 8px;
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.25px;
        white-space: nowrap;
        cursor: pointer;
        color: #737373;
    }

    .function-button__with-divider > div {
        height: 12px;
        width: 1px;
        background-color: #D4D4D4;
    }

    .other-options-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 0.5rem;
    }

    .other-options-box > span {
        color: #171717;
    }

    .other-options-box > button {
        padding: 8px;
        line-height: 14px;
        color: #737373;
        font-weight: 600;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}
